@model List<oraclenhom3.Models.dubaoviewmodel>

@{
    ViewBag.Title = "Index";
}
<h2><span style=" font-weight:700;">DỰ BÁO THỜI TIẾT</span> <span style="color:cadetblue">@Model.First().tenTram</span> </h2>

<hr />

<h4>Hôm Nay </h4>
<h4 id="myClock" class="text-danger"></h4>
<hr />

@section Scripts{
    <script>
        setInterval(function () {
            $.ajax({

                url: "/Home/ServerTime",

                data: "",

                type: "GET",

                success: function (data) {
                    $("#myClock").html(data);
                },
                error: function (xhr, err, data) {
                    alert("Lỗi : " + err)
                }
            });
        }, 1000);
    </script>
}

    <div>
        @{
            foreach (var item in Model)
            {
                <table class="table" style="margin-bottom:100px; border-color:aqua;">
                    <tr class="text-center">

                        <th class="text-center">
                            Nhiệt Độ
                        </th>
                        <th class="text-center">
                            Áp Suất
                        </th>
                        <th class="text-center">
                            Tốc Độ Gió
                        </th>
                        <th class="text-center">
                            Nhiệt Độ Cao Nhất
                        </th>
                        <th class="text-center">
                            Nhiệt Độ Thấp Nhất
                        </th>
                        <th class="text-center">
                            Lượng Mưa
                        </th>
                        <th></th>
                    </tr>


                    <tr class="text-center">

                        <td style="color:chocolate">
                            @Html.DisplayFor(modelItem => item.nhietdo)<span> &#8451</span>
                        </td>
                        <td style="color: coral">
                            @Html.DisplayFor(modelItem => item.apsuat)<span> mmPa</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tocdogio)<span> m/s</span>
                        </td>
                        <td style="color: crimson">
                            @Html.DisplayFor(modelItem => item.tmax)<span> &#8451</span>
                        </td>
                        <td style="color: aquamarine">
                            @Html.DisplayFor(modelItem => item.tmin)<span> &#8451</span>
                        </td>
                        <td style="color: cornflowerblue">
                            @Html.DisplayFor(modelItem => item.luongmua)<span> mm</span>
                        </td>
                        <td></td>
                    </tr>


                </table>
                <hr />
            }
        }


    </div>