<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
        body {
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <div style="padding-top:0px;">
        <img src="~/images/backg3.gif" style="width:100%; height:300px;" />
    </div>
    <div class="navbar navbar-inverse">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Oracle T3", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  
                </ul>
            </div>
        </nav>
    </div>
    <div class="body-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <h3>Quốc Gia</h3>
                        

                        <form action="/Home/chonnuoc" method="post">
                            <button style="width:150px" type="submit" value="VM" name="manuoc" class="btn btn-primary">Việt Nam <img src="~/images/vietnam.jpg" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button></a>
                            <button style="width:150px" type="submit" value="MY" name="manuoc"  class="btn btn-primary">Malaysia <img src="~/images/malaysia.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="ID" name="manuoc"  class="btn btn-primary">Indonesia <img src="~/images/indonesia.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="TH" name="manuoc"  class="btn btn-primary">Thailand <img src="~/images/thailan.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="RP" name="manuoc"  class="btn btn-primary">Philippines <img src="~/images/philippin.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="LA" name="manuoc"  class="btn btn-primary">Lao <img src="~/images/lao.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="CB" name="manuoc"  class="btn btn-primary">Cambodia <img src="~/images/cambodia.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="BM" name="manuoc"  class="btn btn-primary">Myanmar <img src="~/images/myanmar.jpg" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="BX" name="manuoc"  class="btn btn-primary">Brunei <img src="~/images/brunei.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="SN" name="manuoc"  class="btn btn-primary">Singgapore <img src="~/images/singgapore.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                            <button style="width:150px" type="submit" value="TT" name="manuoc"  class="btn btn-primary">Timor <img src="~/images/timor.png" class="rounded" alt="Cinque Terre" width="20px" height="15px"> </button>
                        </form>
                    </div>
                    <div style="height:1000px;">


                        <h3>Thống kê </h3>
                        <form action="/Home/thongke" method="post">
                            <select class="form-control" name="manuoc">
                                <option value="VM">Viêt Nam </option>
                                <option value="MY">MaLaysia </option>
                                <option value="ID">Indonesia</option>
                                <option value="TH">Thai Lan </option>
                                <option value="RP">Philippines </option>
                                <option value="LA">Lao </option>
                                <option value="CB">Combodia </option>
                                <option value="BM">Myanmar </option>
                                <option value="BX">Brunei </option>
                                <option value="SN">Singapore </option>
                                <option value="TT">Timor </option>

                            </select>
                            <select class="form-control" name="nam">
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>

                            </select>
                            <button type="submit">Thống Kê</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-10" style="max-height:570px;overflow:scroll;">
                    @RenderBody()
                    <hr />
                </div>
               
            </div>
            <div class="row" style="background-color:black">
                <footer>
                    <p class="text-center" style="color:white;">Nhóm 3</p>
                </footer>
            </div>
        </div>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
