@model IEnumerable<oraclenhom3.Models.TRAM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUOC.TENNUOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENTRAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KINHDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HINH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUOC.TENNUOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENTRAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KINHDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HINH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MATRAM }) |
            @Html.ActionLink("Details", "Details", new { id=item.MATRAM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MATRAM })
        </td>
    </tr>
}

</table>
